/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");
@import url("assets/css/myCustom.css");

/*===============  MY CUSTOM CSS ===============*/

:root {
  --header-height: 3.5rem;

  /*========== My Custom Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(219, 69%, 56%);
  --first-color-alt: hsl(219, 69%, 52%);
  --title-color: hsl(219, 8%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --white-color: #fff;
  /* --body-color: hsl(219, 4%, 4%); */
  
  --body-color: hsl(283, 89%, 7%);
  --container-color: hsl(219, 4%, 7%);

  /*========== My Custom Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Exo', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


/*=============== BASE CSS ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*=============== MY REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

/* ======== Shape X Design ======*/

.shapeX{
  background-color: hsla(219, 33%, 32%, .5);
  filter: blur(112px);
  border-radius: 50%;

}
.shape__big{
  width: 400px;
  height: 400px;

}
.shape__small{
  width: 300px;
  height: 300px;

}

.shape__smaller{
  width: 180px;
  height: 180px;
  filter: blur(64px);
}

/*=============== HEADER & NAV BAR ===============*/

.header{
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__toggle{
  color: var(--title-color);
  display: inline-flex;
}
.nav__logo{
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-medium);
  transition: .3s;
}
.nav__logo i{
font-size: 1.25rem;
}
.nav__logo:hover{
  color: var(--first-color);
}
.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__menu{
    position: fixed;
    background-color: hsl(0, 0%, 100%, .1);
  
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(96px);
    transition: .3s;
  }
}

.nav__list{
display: flex;
flex-direction: column;
text-align: center;
row-gap: 3rem;
padding-top: 9rem;
}
.nav__link{
  text-transform: uppercase;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  transition: .3s;
}
.nav__link:hover{
  color: var(--first-color);

}
.nav__close{
  font-size: 2rem;
  column-rule: var(--white-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
/* Show menu items */
.show-menu{
  right: 0;
}

/* Change background header */
.scroll-header{
  border-radius: 0 0 1rem 1rem;
  background-color: var(--body-color);
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 1);
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/*=============== HOME ===============*/

.home{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}
.home__container{
  position: relative;
  padding-top: 4rem;
  row-gap: 3rem;
}
.home__data{
  text-align: center;
}
.home__title{
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}
.home__subtitle{
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
}
.home__elec{
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;

}
.home__elec i{
  color: var(--first-color);

}
.home__img{
  width: 280px;
  justify-self: center;
  

}
.home__car{
  display: flex;
  justify-content: center;
  align-items: center;
  
  column-gap: 4rem;
  margin-bottom: 2rem;

}
.home__car-name{
  font-size: .625rem;
  font-weight: 400;
  color: var(--text-color-light);

}
.home__car-data{
  text-align: center;

}
.home__car-number{
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;

}
.home__car-icon{
  background-color: var(--container-color);
  border-radius: 50%;
  padding: .376rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: .875rem;
  margin-bottom: .75rem;

}
.home__button{
  z-index: 888;
  position: relative;
  border: 2px solid hsl(158, 89%, 30%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  cursor: pointer;
  font-size: var(--small-font-size);
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.home__button::before{
  content: '';
  border: 2px solid hsl(158, 98%, 43%);
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 12px hsl(158, 98%, 43%);
  transition: .3s;
  animation: button 3s infinite; 

}

.home__social{
  z-index: 888;
  position: absolute;
  right: 30px;
  top: 25rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  transition: 0.3s ease;
  
}
.home__social-icon{
  color: #fff;
  font-size: 1.4em;
  visibility: hidden !important;
}
.home__social-icon:hover{
  color: var(--first-color);
  
}
.slider__bg{
  z-index: 888 !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap: .25rem;
  cursor: pointer;

}
.slider__bg-navBtn{
  z-index: var(--z-fixed) !important;
  width: 9px;
  height: 9px;
  background: rgba(255, 255, 255, 0.392);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, .5);
  transition: .3s ease;
  
}
.slider__bg-navBtn:hover{

transform: scale(1.2);
}

.slider__bg .active{
  background: #fff;
  color: #fff;
}
.video__slide{
  
  width: 100%;
  clip-path: circle(0% at 0 50%);
}
.video__slide.active{
  clip-path: circle(150% at 0 50%);
}





.home .shape__big,
.home .shape__small{
  position: absolute;
}

.home .shape__big{
  left: -9rem;
  top: -4rem;
}
.home .shape__small{
  right: -10rem;
  bottom: 3rem;
}

/* Button animate */
@keyframes button {
  0%{
    box-shadow: 0 0 12px hsl(158, 98%, 43%);

  }
  50%{
    box-shadow: 0 0 24px hsl(158, 98%, 43%);

  }
  
}

/*=============== BUTTON ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: .5rem 2rem;
  border-radius: .25rem;
  font-size: var(--normal-font-size);
  transition: .3s;
}
.button:hover{
  background-color: var(--first-color-alt);
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 6rem;

}
.about__group{
  position: relative;

}
.about__img{
  width: 310px;
  border-radius: .5rem;

}
.about__card{
  width: 180px;
  position: absolute;
  right: 0;
  bottom: -2.5rem;
  background-color: hsla(0, 0%, 100%, .1);
  backdrop-filter: 1rem .75rem;
  text-align: center;
  border-radius: 1.25rem;
}
.about__card-title{
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}
.about__card-description{
  font-size: var(--smaller-font-size);
}

.about__title{
  text-align: initial;
  margin-bottom: 2rem;
}
.about__description{
  margin-bottom: 2rem;
}

/*=============== POPULAR ===============*/

.popular__container{
  padding-top: 1rem;

}
.popular__card{
  position: relative;
  width: 238px;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
}
.popular__card .shape__smaller{
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
}

.popular__title,
.popular__subtitle,
.popular__img{
  position: relative;
}
.popular__title{
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;

}
.popular__subtitle{
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;

}
.popular__img{
  width: 160px;
  margin: .75rem 0 1.25rem 1.5rem;
  transition: .3s;
}
.popular__data{
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: .5rem 1.25rem;
  margin-bottom: 2rem;
}
.popular__data-group{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  color: var(--white-color);

}
.popular__data i{
  font-size: 1rem;
}
.popular__price{
  font-size: var(--h3-font-size);
}
.popular__button{
  border: none;
  outline: none;
  padding: .75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
}
.popular__button i{
  font-size: 1.25rem;
}
.popular__card:hover .popular__img{
  transform: translateY(-.5rem);
}

/* Swiper class */

.swiper-pagination-bullet{
  background: var(--text-color);
}
.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}

/*=============== FEATURES ===============*/
.features{
  overflow: hidden;
  position: relative;

}
.features__container{
  padding-top: 2rem;
  grid-template-columns: 285px;
  justify-content: center;

}
.features__group{
  display: grid;
  position: relative;
  z-index: 10;
}
.features__img{
  width: 150px;
  justify-self: center;
}
.features__card{
  width: 112px;
  background-color: hsla(0, 0%, 100%, .1);
  backdrop-filter: blur(16px);
  padding: .75rem 2rem;
  border-radius: 1rem;
  text-align: center;
  color: var(--title-color);
  position: absolute;
}
.features__card-1{
  top: 4rem;
  left: 1.5rem;

}
.features__card-2{
  top: 8rem;
  right: 1rem;

}
.features__card-3{
  left: 1.5rem;
  bottom: 2rem;

}
.features__card-title{
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;

}
.features__card-description{
  font-size: var(--smaller-font-size);
}
.features__map{
  max-width: initial;
  width: 450px;
  position: absolute;
  top: 8rem;
  left: -3rem;
  margin: auto;
  transform: rotate(-22deg);
}

/*=============== FEATURED ===============*/

.featured__container{
  padding-top: 1rem;

}
.featured__filters{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 3.5rem;
}

.featured__item{
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  padding: 0.75rem;
  border-radius: .75rem;
  background-color: var(--container-color);
  color: var(--white-color);
  font-size: var(--normal-font-size);
  cursor: pointer;
  transition: .3s;

}
.featured__item img{
  width: 1.5rem;

}
.featured__item span,
.featured__itemimg{
  opacity: .3;
  transition: .3s;
}
.featured__item:hover{
  background-color: var(--first-color);
}
.featured__item:hover span,
.featured__item:hover img{
  opacity: 1;

}
.featured__content{
  grid-template-columns: 228px;
  row-gap: 2.5rem;
  justify-content: center;
}
.featured__card{
  position: relative;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
}
.featured__card .shape__smaller{
  position: absolute;
  inset: 0;
  margin: auto;
}
.featured__title,
.featured__subtitle,
.featured__img{
  position: relative;
}

.featured__title{
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;

}
.featured__subtitle{
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;

}
.featured__img{
  width: 180px;
  margin: 1.5rem 0;
  transform: .3s;

}
.featured__price{
  font: var(--h3-font-size);
  
}
.featured__button{
  border: none;
  outline: none;
  padding: .75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
}
.featured__button i{
  font-size: 1.25rem;
}
.featured__card:hover .featured__img{
  transform: translateX(-.30rem);
}
.featured__button:hover{

}

/* Active link featured */

.active-featured{
  background-color: var(--first-color);
}
.active-featured span,
.active-featured img{
  opacity: 1;
}

/*=============== GALLERY ===============*/
.gallery__container video{
  z-index: 000;
  position: absolute;
  opacity: .1;
  bottom: 0;
  
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*=============== OFFER ===============*/

.offer{
  position: relative;
}
.offer__container{
  grid-template-rows: max-content 224px;
}

.offer__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.offer__data,
.offer__img{
  position: relative;
}
.offer__data{
  text-align: center;
}
.offer__title{
  margin-bottom: 2rem;
}
.offer__description{
  margin-bottom: 3rem;
}
.offer__img{
  position: absolute;
  max-width: initial;
  width: 400px;
  
  bottom: 2rem;
  right: -5.5rem;
}
/*=============== LOGOS ===============*/

.logos__img{
  width: 40px;
  opacity: .4;
  transition: .3s;
}
.logos__container{
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-bottom: 2rem;
}

.logos__img:hover{
  opacity: 1;
  cursor: pointer;
}

/*=============== FOOTER ===============*/

.footer{
  position: relative;
  overflow: hidden;
}
.footer .shape__big,
.footer .shape__small{
  position: absolute;
}
.footer .shape__big{
  width: 300px;
  height: 300px;
  top: 6rem;
  left: -12rem;
}
.footer .shape__small{
  right: -13rem;
  bottom: -6rem;
}
.footer__container{
  row-gap: 2.5rem;
  position: relative;
}
.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.35rem;
  transition: .3s;
}
.footer__logo{
  font-size: 1.5rem;
}
.footer__logo:hover{
  color: var(--first-color);
}
.footer__logo i{
  font-size: 1.5rem;
  font-weight: 500;
}
.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1.1rem;

}
.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: .5rem;

}
.footer__link,
.footer__social-link{
  color: var(--text-color);
  transition: .3s;
}
.footer__link:hover,
.footer__social-link:hover{
  color: var(--title-color);
}
.footer__social{
  display: flex;
  column-gap: 1.5rem;
}
.footer__social-link{
  font-size: 1.25rem;

}
.footer__copy{
  display: block;
  margin-top: 4.5rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: rgb(199, 158, 47);
}
.footer__dev-link{
  color: #F76400;
}
.footer__dev-link::before{
 
  text-shadow: 0 0 12px hsl(0, 0%, 100%);
  transition: .3s;
  animation: a 3s infinite; 
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.5rem;
  background-color: hsl(219, 4%, 16%);
  border-radius: 1rem;

}

::-webkit-scrollbar-thumb{
  background-color: hsl(219, 4%, 24%);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(219, 4%, 32%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: hsla(0, 0%, 100%, .1);
  display: inline-flex;
  padding: .45rem;
  border-radius: .5rem;
  font-size: 1.15rem;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  transition: .4s;
}
.scrollup:hover{
  transform: translateY(-.28rem);
}


/* Show Scroll Up*/

.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .about__group{
    width: 350px;
    justify-self: center;
  }
  .features__map{
    left: 0;
    right: 0;
  }
  .featured__content{
    grid-template-columns: repeat(2, 228px);
  }

  .offer__container{
    grid-template-rows: initial;
    grid-template-columns: .5fr;
    justify-content: center;
  }
  .offer__img{
    position: relative;
    bottom: initial;
    right: initial;
  }
  .offer__data{
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 767px) {
  .section{
    padding: 7rem 0 2rem;
  }
  .nav{
    /* margin-top: 1rem;
    margin-bottom: 1rem;
    height: calc(var(--header-height)+ 1.5rem); */
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
    padding-top: 0;
  }
  .nav__link{
    font-size: var(--normal-font-size);
    text-transform: initial;
  }
  .about__container{
    grid-template-columns: repeat(2, 1fr);
  }
  .logos__container{
    gap: 4rem 8rem;
  }
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
}
/* For large devices */


@media screen and (min-width: 1040px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .shape__big{
    width: 500px;
    height: 500px;

  }
  .shape__small{
    width: 400px;
    height: 400px;
  }
  .home__container{
    padding-top: 2rem;
  }
  .home__img{
    width: 380px;
  }
  .home__car{
    column-gap: 10rem;
  }
  .home__car-icon{
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .home__social-icon{
    visibility: visible !important;
  }
  .slider__bg-navBtn{
    z-index: var(--z-fixed);
  }


  .about__container{
    column-gap: 6rem;
    align-items: center;
  }
  .about__group,
  .about__img{
    width: 480px;

  }
  .about__card{
    width: 198px;
    padding: 1rem 1.25rem;
  }
  .about__description{
    padding-right: 4rem;
    margin-bottom: 3rem;
  }
  .popular__container{
    width: 875px;
    padding-top: 3rem;

  }
  .popular__card{
    width: 258px;
    border-radius: 1.15rem;
    margin-bottom: 5rem;
  }
  .popular__img{
    width: 180px;
    margin: .75rem 0 1.25rem 2rem;
  }
  .features__container{
    padding: 2rem 0 3rem;

  }
  .features__img{
    width: 200px;
  }
  .features__card{
    width: 128px;
    padding: .75rem 2.5rem;
  }
  .features__card-1{
    left: -1rem;

  }
  .features__card-2{
   right: -2.5rem;

  }
  .features__card-3{
    bottom: 7rem;
    left: -1rem;
  }
  .features__map{
    width: 650px;
    top: 11rem;

  }
  .featured__container{
    padding-bottom: 2.5rem;
  }
  .featured__filters{
    column-gap: 2rem;
    margin-bottom: 4.5rem;
  }
  .featured__item{
    width: 52px;
    height: 52px;
  }
  .featured__item img{
    width: 2rem;
  }
  .featured__content{
    grid-template-columns: repeat(3, 248px);
    gap: 4rem;
  }

  .offer__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    align-items: center;
    padding-bottom: 2rem;

  }
  .offer__data,
  .offer__title{
    text-align: initial;
  }
  .offer__data{
    margin-bottom: 0;
  }
  .offer__description{
    padding-right: 6rem;
  }
  .offer__img{
    width: 450px;
  }

  .logos__container{
    grid-template-columns: repeat(6, max-content);
  
  }
  .logos__img{
    width: 50px;
  }

  .footer__container{
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;

  }
  .footer__logo{
    column-gap: .5rem;
  }
  .footer__logo i{
    font-size: 2rem;
  }
  .footer__title{
    margin-bottom: 1.5rem;
  }
  .footer__link{
    row-gap: .76rem;
  }
  .footer__social-link{
    font-size: 1.5rem;
  }
  .footer__copy{
    margin-top: 8rem;
    padding-bottom: 0.6rem;
  }

  .scrollup{
    right: 2.8rem;
  }
}