/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== My Custom Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(219, 69%, 56%);
  --first-color-alt: hsl(219, 69%, 52%);
  --title-color: hsl(219, 8%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --white-color: #fff;
  --body-color: hsl(219, 4%, 4%);
  --container-color: hsl(219, 4%, 7%);

  /*========== My Custom Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Exo', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

/* ======== Shape Design ======*/

.home .shape{
  background-color: hsla(219, 33%, 32%, .5);
  filter:blur(112px);
  border-radius: 50%;

}
.shape__big{
  width: 400px;
  height: 400px;

}
.shape__small{
  width: 300px;
  height: 300px;

}

.shape__smaller{
  width: 180px;
  /* height: 180px; */
  /* filter: blur(64px); */
}

/*=============== HEADER & NAV ===============*/

.header{
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__toggle{
  color: var(--title-color);
  display: inline-flex;
}
.nav__logo{
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-medium);
  transition: .3s;
}
.nav__logo i{
font-size: 1.25rem;
}
.nav__logo:hover{
  color: var(--first-color);
}
.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__menu{
    position: fixed;
    background-color: hsl(0, 0%, 100%, .1);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(96px);
    transition: .3s;
  }
}

.nav__list{
display: flex;
flex-direction: column;
text-align: center;
row-gap: 3rem;
padding-top: 9rem;
}
.nav__link{
  text-transform: uppercase;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  transition: .3s;
}
.nav__link:hover{
  color: var(--first-color);

}
.nav__close{
  font-size: 2rem;
  column-rule: var(--white-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
/* Show menu */
.show-menu{
  right: 0;
}

/* Change background header */
.scroll-header{
  border-radius: 0 0 1rem 1rem;
  background-color: var(--body-color);
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 1);
}

/* Active link */


/*=============== HOME ===============*/

.home{
  position: relative;
  overflow: hidden;

}
.home__container{
  position: relative;
  padding-top: 4rem;
  row-gap: 3rem;
}
.home__data{
  text-align: center;
}
.home__title{
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}
.home__subtitle{
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
}
.home__elec{
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;

}
.home__elec i{
  color: var(--first-color);

}
.home__img{
  width: 280px;
  justify-self: center;

}
.home__car{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  margin-bottom: 2rem;

}
.home__car-name{
  font-size: .625rem;
  font-weight: 400;
  color: var(--text-color-light);

}
.home__car-data{
  text-align: center;

}
.home__car-number{
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;

}
.home__car-icon{
  background-color: var(--container-color);
  border-radius: 50%;
  padding: .376rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: .875rem;
  margin-bottom: .75rem;

}
.home__button{
  position: relative;
  border: 2px solid hsl(158, 89%, 30%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: var(--small-font-size);
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.home__button::before{
  content: '';
  border: 2px solid hsl(158, 98%, 42%);
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 12px hsl(158, 98%, 43%);
  transition: .3s;
  animation: button 3s infinite; 

}

.home .shape__big,
.home .shape__small{
  position: absolute;
}

.home .shape__big{
  left: -9rem;
  top: -4rem;
}
.home .shape__small{
  right: -10rem;
  bottom: 3rem;
}

/* Button animate */
@keyframes button {
  0%{
    box-shadow: 0 0 12px hsl(158, 98%, 43%);

  }
  50%{
    box-shadow: 0 0 24px hsl(158, 98%, 43%);

  }
  
}

/*=============== BUTTON ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: .5rem 2rem;
  border-radius: .25rem;
  font-size: var(--normal-font-size);
  transition: .3s;
}
.button:hover{
  background-color: var(--first-color-alt);
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 6rem;

}
.about__group{
  position: relative;

}
.about_-img{
  width: 310px;
  border-radius: .5rem;

}
.about__card{
  width: 180px;
  position: absolute;
  right: 0;
  bottom: -2.5rem;
  background-color: hsla(0, 0%, 100%, .1);
  backdrop-filter: 1rem .75rem;
  text-align: center;
  border-radius: 1.25rem;
}
.about__card-title{
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}
.about__card-description{
  font-size: var(--smaller-font-size);
}

.about_-title{
  text-align: initial;
  margin-bottom: 2rem;
}
.about__description{
  margin-bottom: 2rem;
}

/*=============== POPULAR ===============*/

.popular__container{
  padding-top: 1rem;

}
.popular__card{
  position: relative;
  width: 238px;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
}
/* .popular__card .shape__smaller{
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
} */

.popular__title,
.popular__subtitle,
.popular__img{
  position: relative;
}
.popular__title{
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;

}
.popular__subtitle{
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;

}
.popular__img{
  width: 160px;
  margin: .75rem 0 1.25rem 1.5rem;
  transition: .3s;
}
.popular__data{
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: .5rem 1.25rem;
  margin-bottom: 2rem;
}
.popular__data-group{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  color: var(--white-color);

}
.popular__data i{
  font-size: 1rem;
}
.popular__price{
  font-size: var(--h3-font-size);
}
.popular__button{
  border: none;
  outline: none;
  padding: .75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
}
.popular__button i{
  font-size: 1.25rem;
}
.popular__card:hover .popular__img{
  transform: translateY(-.5rem);
}

/* Swiper class */

.swiper-pagination-bullet{
  background: var(--text-color);
}
.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}

/*=============== FEATURES ===============*/


/*=============== FEATURED ===============*/


/* Active link featured */


/*=============== OFFER ===============*/


/*=============== LOGOS ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
